{% extends "base.html" %}
{% block content %}
<div class="col-md-4 mx-auto mt-5">
    <h3 class="text-center">Ingreso</h3>
    <form method="POST">
        <div class="mb-3"><input type="text" name="username" class="form-control" placeholder="Usuario" required></div>
        <div class="mb-3"><input type="password" name="password" class="form-control" placeholder="Contraseña" required></div>
        <button type="submit" class="btn btn-success w-100">Entrar</button>
    </form>
    <a href="{{ url_for('auth.register') }}" class="d-block text-center mt-2">Registrarse</a>
</div>
{% endblock %}