SECRET_KEY=tu-clave-super-secreta
DATABASE_URL=postgresql://usuario:password@host:5432/nombre_bd
FLASK_APP=run.py
FLASK_ENV=production
MAIL_SERVER=smtp.ejemplo.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=usuario_correo
MAIL_PASSWORD=tu_password_segura
MAIL_DEFAULT_SENDER=notificaciones@ejemplo.com
